 <%- include('partials/header.ejs') %>
 <%- include('partials/nav.ejs') %>
 
        <main>
            <figure id="corrected">
                <img src="img/App_atk.jpg" alt="Databases on fire" id="resize">
            </figure>
            
            <article>
                <h1>Application Layer Attack</h1>
                <p>A application layer attack is a bit more nuanced then volumetric based or Protocol attacks, but it requires less bandwidth to have the same detrimental affect.</p>
                <p>In an application layer attack a malicious user targets the network servers with numerous requests. </p>
                <p>While the requests seem innocent enough what they are meant to do is force the server to querry its resoucres, such as its databases.</p>
                <p>By doing this it locks up the servers resources making it near impossible for new requests to come through. <a href="https://www.cloudflare.com/learning/ddos/application-layer-ddos-attack/">Source</a></p>
            </article>
        </main>
        
<%- include('partials/footer.ejs') %>