 <%- include('partials/header.ejs') %>
 <%- include('partials/nav.ejs') %>
 
        <main>
            <figure>
                <img src="img/DDOS_Hacker.png" alt="DDOS Hacker" id="resize">
            </figure>
            
            <article>
                <h1>DDOS</h1>
                <p>Imagine you are tasked with taking a basket of goodies to your grandmother. You mother baked them, handed them to you, gave you the adress, and off you went.</p>
                <p>Upon arriving at your dear old grans there you are unable to get into her house as there are hundereds of thousands of young bachlors looking for a suger mama.</p>
                <p>That short story is, in essence, what a <a href="https://en.wikipedia.org/wiki/Denial-of-service_attack">DDOS Attack</a> is. In short a denial-of-service attack is when a network system taken down by having its resources flooded with requests.</p>
                <p>There are diffrent types of DDOS attacks but the three most common are as follows : Volume Based Attack, Protocol Attack, and Application Layer Attack.</p>
            </article>
        </main>
        
<%- include('partials/footer.ejs') %>